<div class="container pt-2">
    <table id="example" class="table table-striped table-bordered mt-2" style="width:100%">
        <thead>
            <tr>
                <th>Patient Id</th>
                <th>Consultation</th>
                <th>Doctor Id</th>
                <th>Over the Counter</th>
                <th>Status</th>
                <th>Created By</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let visitRow of visits">
                <td>{{visitRow.patient_name}}</td>
                <td>{{visitRow.consultation}}</td>
                <td>{{visitRow.doctor_name}}</td>
                <td>{{visitRow.over_the_counter}}</td>
                <td>{{visitRow.status}}</td>
                <td>{{visitRow.created_by}}</td>
                <td>
                    <a class="btn btn-sm btn-primary ml-2" routerLink="/edit-visit/{{visitRow.patient_id}}/{{visitRow.id}}">Edit</a>
                    <a class="btn btn-sm btn-danger ml-2" routerLink="/delete-visit/{{visitRow.patient_id}}/{{visitRow.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>