<div class="container pt-2">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Phone Number</th>
                <th>Registered By</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patientRow of patient">
                <td>{{patientRow.name}}</td>
                <td>{{patientRow.sex}}</td>
                <td>{{patientRow.phone_number}}</td>
                <td>{{patientRow.registered_by}}</td>
                <td>
                    <a class="btn btn-md btn-primary" href="#">Edit</a>
                    <a class="btn btn-md btn-danger" href="#">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>