<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">Clinic App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-item nav-link active" routerLink="/home">Home</a>
      </div>
      <div class="navbar-nav navbar-right">
        <a *ngIf="!this.authService.isLoggedIn" class="nav-item nav-link" href="#">Sign In</a>
        <a *ngIf="!this.authService.isLoggedIn" class="nav-item nav-link" href="#"><button class="btn btn-sm btn-primary">Sign Up</button></a>
        <a *ngIf="this.authService.isLoggedIn" class="nav-item nav-link" href="#">My Profile</a>
        <a (click)="logout()" *ngIf="this.authService.isLoggedIn" class="nav-item nav-link" href="#"><button class="btn btn-sm btn-danger">Logout</button></a>
      </div>
    </div>
</nav>

<router-outlet></router-outlet>