<div class="container pt-2">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Type</th>
                <th>Rate Per Unit</th>
                <th>Quantity</th>
                <th>In Stock</th>
                <th>Expiry Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>Code</td>
                <td>Type</td>
                <td>Rate Per Unit</td>
                <td>Quantity</td>
                <td>In Stock</td>
                <td>Expiry Date</td>
            </tr>
        </tbody>
    </table>
</div>
