<div class="container pt-2">
    <div class="row pt-4">

        <!--col-->
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
           <div class="card">
               <div class="card-body">
                   <h4><a routerLink="/patients">Patients</a></h4>
               </div>
           </div>
        </div>
        <!--col-->

        <!--col-->
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h4>Visits</h4>
                </div>
            </div>
         </div>
         <!--col-->

         <!--col-->
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h4>Pharmacy</h4>
                </div>
            </div>
         </div>
         <!--col-->

         <!--col-->
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h4>Cashier</h4>
                </div>
            </div>
         </div>
         <!--col-->

         <!--col-->
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h4><a routerLink="/medicine">Medicine</a></h4>
                </div>
            </div>
         </div>
         <!--col-->

         <!--col-->
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h4>Roles</h4>
                </div>
            </div>
         </div>
         <!--col-->
        

    </div>
</div>
